body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#fff));
  background-image: linear-gradient(180deg, #e0e0e0, #fff);
  margin: 0px;
  padding: 0px;
}

.category-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
}

.category-list-item {
  margin: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#2b2b2b));
  background-image: linear-gradient(180deg, #000, #2b2b2b);
  text-align: center;
}

.category-list-item-link {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.item-name {
  font-size: 30px;
  font-family: Oswald, sans-serif;
}

.made-by {
  margin-top: 1px;
  font-family: 'Great Vibes', cursive;
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  .body {
    cursor: auto;
  }

  .category-list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .category-list-item {
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0 2px 0 #000;
    cursor: pointer;
  }

  .category-list-item-link {
    display: block;
    text-transform: none;
    mix-blend-mode: normal;
  }
}

@media screen and (max-width: 767px) {
  .category-list {
    display: block;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .category-list-item {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .category-list {
    display: block;
  }

  .category-list-item {
    margin: 6px 3px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
