.body {
  margin: 0px;
  padding: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e7e7e7));
  background-image: linear-gradient(180deg, #fff, #e7e7e7);
  font-family: Montserrat, sans-serif;
  letter-spacing: 1px;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  list-style-type: none;
}

.section {
  padding: 10px 20px;
}

.category-list-item {
  margin: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 20px;
  color: #1d1818;
  text-align: center;
}

.link-block {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #3d3d3d;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  -o-object-fit: fill;
  object-fit: fill;
}

.product-name {
  font-family: Montserrat, sans-serif;
  font-size: 30px;
}

.made-by {
  margin-top: 1px;
  font-family: 'Great Vibes', cursive;
  font-size: 20px;
}

.company-info {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px 21px;
  opacity: 1;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  border-radius: 0px;
}

.text-block {
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}

.text-block-2 {
  padding: 9px 146px;
  text-align: center;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  padding: 0px;
}

.product-card-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tag-wrapper {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.price-wrapper {
  padding-left: 0px;
}

.product-card {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: box-shadow 400ms ease, -webkit-transform 400ms ease;
  transition: box-shadow 400ms ease, -webkit-transform 400ms ease;
  transition: transform 400ms ease, box-shadow 400ms ease;
  transition: transform 400ms ease, box-shadow 400ms ease, -webkit-transform 400ms ease;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(0px, -6px) scale(1.02);
  -ms-transform: translate(0px, -6px) scale(1.02);
  transform: translate(0px, -6px) scale(1.02);
}

.basic-column {
  padding-right: 5px;
  padding-left: 5px;
  border: 1px none #000;
  border-radius: 0px;
}

.product-name-title {
  margin-top: 6px;
  padding-right: 20px;
  color: #1a1a1a;
  font-size: 20px;
  text-decoration: none;
}

.tagline {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tagline.tagline-promo-40 {
  color: rgba(53, 53, 53, 0.4);
  font-weight: 400;
  text-decoration: none;
}

.product-price {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #383838;
  font-size: 24px;
  text-decoration: none;
}

.section-3 {
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#fff));
  background-image: linear-gradient(180deg, #f8f8f8, #fff);
}

.image-3 {
  height: 260px;
  border-radius: 8px 8px 0px 0px;
  -o-object-fit: cover;
  object-fit: cover;
}

.link-block-2 {
  text-decoration: none;
}

.section-4 {
  padding-right: 16px;
  padding-left: 16px;
}

@media screen and (max-width: 991px) {
  .body {
    cursor: auto;
  }

  .list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .section {
    padding: 8px 12px;
  }

  .category-list-item {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px none #000;
    border-radius: 0px;
    font-size: 12px;
    cursor: pointer;
  }

  .link-block {
    display: block;
    border: 1px none #000;
    -webkit-transition-property: none;
    transition-property: none;
    font-size: 16px;
    text-transform: none;
    mix-blend-mode: normal;
  }

  .company-info {
    text-align: center;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .text-block-2 {
    padding-right: 13px;
    padding-left: 13px;
  }

  .basic-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .section {
    padding: 8px 10px;
  }

  .category-list-item {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .link-block {
    font-size: 16px;
  }

  .basic-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .list {
    display: block;
  }

  .section {
    padding: 8px;
  }

  .category-list-item {
    margin: 6px 3px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .link-block {
    font-size: 12px;
  }

  .product-name {
    font-family: Oswald, sans-serif;
  }

  .section-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
